{
    "MD003": { "style": "setext_with_atx" },
    "MD007": { "indent": 4 },
    "MD013": false,
    "MD022": { "lines_above": 0 },
    "MD024": { "siblings_only": true },
    "MD026": { "punctuation": ".,;:。，；：" },
    "MD029": { "style": "ordered" },
    "MD033": false,
    "MD036": false,
    "MD041": false
}
